body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
a{
	text-decoration: none;
}
h1{
	color:#fdcb46;
	margin:0px;
	font-size: 2em;
	padding: 20px 0px;
}
header{
	width:100%;
	height:10%;
	background-color: #579c87;
	display: flex;
	justify-content: center;
}
.card{
	width:300px;
	height:400px;
	margin:50px 25px 0px 25px;
	box-shadow: 0 0px 1px rgba(0,0,0,0.16), 0 0px 6px rgba(0,0,0,0.15);
	display: flex;
	justify-content: center;
	flex-direction: column;
	opacity: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.card:hover{
	opacity: 0.4;
}
.card p{
	font-size: 2.3em;
	margin:0px;
}
.row{
	display: flex;
	justify-content: center;
}

.card1{
	background-color: #fcdfdb;
}
.card1 a{
	font-size: 2em;
	margin:0px;
	color:#3c1218;
}
.card1 h3{
	color:#3c1218;
}
.fa-music{
	font-size: 3em;
	background: linear-gradient(90deg, rgba(240,74,94,1) 0%, rgba(247,143,106,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card2{
	background-color: #fff5fe;
}
.card2 a{
	font-size: 2em;
	margin:0px;
	color:#c77412;
}
.card2 h3{
	background: linear-gradient(90deg, rgba(216,133,46,1) 0%, rgba(144,91,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card3{
	background-color: #f9f9f9;
}
.card3 a{
	font-size: 2em;
	margin:0px;
	color:#0887fb;
}
.card3 h3{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card4{
	background-color: #fdfffd;
}
.card4 a{
	font-size: 2em;
	margin:0px;
	color:#72bf56;
}
.card4 h3{
	background: linear-gradient(90deg, rgba(61,147,57,1) 0%, rgba(191,255,126,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.next_btn{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	margin: 40px 0px;
}
.next_btn a{
	background-color: #579c87;
	padding:10px 28px;
	color:#fdcb46;
	border-radius: 5px 5px 5px 5px;
}
.loading span{
	width:15px;
	height: 15px;
	margin:0 5px;
	background-color: #579c87;
	border-radius: 50%;
	display: inline-block;
	animation-name: dots;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.loading span:nth-child(2){
	animation-delay: 0.4s;
}
.loading span:nth-child(3){
	animation-delay: 0.8s;
}
@keyframes dots{
	50%{
		opacity: 0;
		transform: scale(0.5) translateY(5px);
	}
}
footer{
	width:100%;
	height:10%;
	background-color: #579c87;
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
}
footer a{
	color:#fdcb46;
	padding:12px 15px;
}
.legal{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}
.shake:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(5deg);}
  25% {-webkit-transform: rotate(-5deg);}
  50% {-webkit-transform: rotate(10deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
.zoom{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	text-align: center;
	opacity: 1;
}
.zoom:hover{
	-webkit-transform:scale(1.25);
	-moz-transform:scale(1.25);
	opacity: 0.4;
}
@media (max-width: 1024px){
	header{
		margin-bottom: 15%;
	}
	footer{
		margin-top: 15%;
	}
}
@media (max-width: 640px){
	footer{
		justify-content: space-between;
	}
	.card{
		width:40%;
		height:250px;
	}
	h3{
		text-align: center;
		font-size: 0.7em;
	}
	.fas{
		font-size: 1.2em;
	}
}