body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
h1{
	color:#fdcb46;
	margin:0px;
	font-size: 2em;
	padding: 20px 0px;
}
h2{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	margin:0px;
	font-size: 2em;
	padding: 20px 0px;
	margin-bottom: 50px;
}
h3{
	color:#464747;
	display: inline;
    position: relative;
}
h3:after{
	content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
h3:hover:after{
	width:100%;
}
header{
	width:100%;
	height:10%;
	background-color: #579c87;
	display: flex;
	justify-content: center;
}
.container{
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top:5%;
	padding-bottom: 5%;
}
.subtitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 700px;
	margin:0 auto;
	overflow: hidden;
}
.subtitle h3{
	display: inline-block;
}
.line{
	width:200px;
	display: inline-block;
}
.lineone {
	border:2px solid #0e32de;
}
.linetwo {
	border:2px solid #0568b8;
}
.linethree{
	border:2px solid #01b5eb;
}
.menucontent{
	color:#464747;
}
.menucontent2{
	color:#464747;
}
.menucontent3{
	text-align: left;
	width:600px;
	margin:0 auto;
	color:#464747;
}
.content{
	display: flex;
	justify-content: space-between;
	width:600px;
	margin:0 auto;
}
.shake:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(5deg);}
  25% {-webkit-transform: rotate(-5deg);}
  50% {-webkit-transform: rotate(10deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
footer{
	width:100%;
	height:10%;
	background-color: #579c87;
	display: flex;
	justify-content: space-around;
}
footer a{
	color:#fdcb46;
	padding:12px 15px;
}
@media (max-width: 1024px){
	.content{
		width: 100%;
		display: block;
	}
	.menucontent2{
		width: 100%;
		text-align: center;
	}
	.subtitle{
		width:100%;
	}
	.line{
		width: 25%;
	}
	.menucontent3{
		margin-bottom: 15%;
		text-align: center;
	}
	h2{
		margin-top: 15%;
	}
}
@media (max-width: 640px){
	.content{
		width: 90%;
		display: inline-block;
	}
	.menucontent2{
		width: 100%;
		text-align: center;

	}
	.subtitle{
		width:100%;
	}
	.line{
		width: 25%;
	}
	.menucontent3{
		width: 90%;
		text-align: center;
	}
	h3{
		font-size: 0.9em;
	}

}