body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
p{
	color:#3c1218;
}
h1{
	color:#fdcb46;
	margin:0px;
	font-size: 2em;
	padding: 20px 0px;
}

h2{
	color:#3c1218;
	margin:0px;
	font-size: 2em;
	padding: 20px 0px;
}
h3{
	display: inline;
    position: relative;
}
h3:after{
	content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s;
    background: linear-gradient(90deg, rgba(240,74,94,1) 0%, rgba(247,143,106,1) 100%);
}
h3:hover:after{
	width:100%;
}
h4{
	font-size: 1.4em;
	margin: 0px;
	color:#3c1218;
}
header{
	width:100%;
	height:10%;
	background-color: #579c87;
	display: flex;
	justify-content: center;
}
.container{
	background-color: #fcdfdb;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top:5%;
	padding-bottom: 5%;
}
.fa-music{
	font-size: 3.5em;
	background: linear-gradient(90deg, rgba(240,74,94,1) 0%, rgba(247,143,106,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subtitle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 700px;
	margin:0 auto;
	overflow: hidden;
}
.subtitle h3{
	display: inline-block;
	color:#3c1218;
}
.line{
	border: 1px solid #3c1218;
	width:200px;
	display: inline-block;
}
.menucontent2{
	text-align: left;
	width:700px;
	margin:0 auto;
}
.content{
	display: flex;
	justify-content: space-between;
	width:700px;
	margin:0 auto;
}
.endtitle{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.endtitle .fas{
	margin-right: 10px;
	font-size: 2em;
}
.shake:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(5deg);}
  25% {-webkit-transform: rotate(-5deg);}
  50% {-webkit-transform: rotate(10deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}
@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}
footer{
	width:100%;
	height:50px;
	background-color: #579c87;
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
	position: fixed;
	bottom:0;
}
footer a{
	color:#fdcb46;
	padding:16px 15px;
}
@media (max-width: 1024px){
	.endtitle{
		margin-bottom: 15%;
	}
	.fas{
		margin-top: 15%;
	}
}
@media (max-width: 640px){
	.content{
		width: 90%;
		display: inline-block;
	}
	.menucontent2{
		width: 100%;
		text-align: center;
	}
	.subtitle{
		width:100%;
	}
	.line{
		width: 25%;
	}
}